SERVER_HOSTNAME=localhost
SERVER_PORT=8090
BASE_URL=http://localhost:8090
IDP_METADATA=http://localhost:8080/realms/master/protocol/saml/descriptor
# ISSUER= # default is callback URL
# COOKIES_TO_CLEAR="domain=domain1.tld;path=/;name=foo|domain=domain2.tld;name=bar"
# FALLBACK_LOGOUT_URL=
# LOGIN_SUCCESS_URL=
# LOGIN_FAILURE_URL=
